.header {
    padding: 40px 0;
    color: #ffffff;
    background-color: rgb(116, 6, 6);
    width: 100%;
    text-align: center;
    border-bottom: 15px solid rgb(255, 174, 0);
    margin-bottom: 10px;
}